@import "../Theme/Color";
@import "../Theme/Spacing";
@import "../Theme/Breakpoint";

$Burger-line-height: 2px;
$Burger-label-font-size: 8px;
$Burger-label-line-height: 8px;
$Burger-label-font-family: "proxima-nova";
$Burger-label-font-weight: bold;
$Burger-label-letter-spacing: 0.5px;

.Burger {
  display: block;

  cursor: pointer;

  @include Breakpoint-desktopOnly {
    display: none;
  }
}

.Burger-line {
  width: 100%;
  height: $Burger-line-height;

  margin-bottom: 4px;

  background-image: linear-gradient(118deg, $Color-coral, $Color-razzmatazz);

  opacity: 1;

  transition: all 0.3s ease-in-out;
}

.Burger-openLabel,
.Burger-closeLabel {
  display: block;

  color: transparent;
  background-image: linear-gradient(118deg, $Color-coral, $Color-razzmatazz);
  background-clip: text;
  -webkit-background-clip: text;

  font-size: $Burger-label-font-size;
  line-height: $Burger-label-line-height;
  font-family: $Burger-label-font-family;
  font-weight: $Burger-label-font-weight;
  letter-spacing: $Burger-label-letter-spacing;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.Burger.is-open {
  .Burger-line:nth-child(1) {
    transform-origin: center;
    transform: rotate(-45deg) translate(-4px, 4px);
  }

  .Burger-line:nth-child(2) {
    transform-origin: center;
    transform: rotate(45deg);
  }

  .Burger-line:nth-child(3) {
    opacity: 0;
  }
}
