@import "../Theme/Color";
@import "../Theme/Breakpoint";

$Caption-font-size: 13px;
$Caption-line-height: 26px;
$Caption-font-weight: bold;
$Caption-letter-spacing: 0.5px;

.Caption {
  color: $Color-white;

  font-family: $Global-font-family-sans;
  font-size: $Caption-font-size;
  font-weight: $Caption-font-weight;
  letter-spacing: $Caption-letter-spacing;
  line-height: $Caption-line-height;
  text-transform: uppercase;
}
