@import "../Theme/Spacing";
@import "../Theme/Color";
@import "../Theme/Breakpoint";

.EventDescription {
  max-width: 500px
}

.EventDescription-title {
  margin-top: $Spacing-base;
  margin-bottom: $Spacing-xSmall;
}

.EventDescription-text {
  margin-bottom :$Spacing-xxSmall;
}

.EventDescription.EventDescription--noMarginTop .EventDescription-title:first-child {
  margin-top: 0;
}

.EventDescription-listItem {
  position: relative;
  margin-bottom: $Spacing-xxSmall;
  padding-left: 20px;

  &:before {
    position: absolute;
    content: '·';
    left: 0;

    width: 20px;
    height: 26px;
    line-height: 26px;

    color: $Color-white;
  }
}

.EventDescription-placeholder {
  @include Breakpoint-desktopOnly {
    margin-top: 250px;
  }
}
