@import "../Theme/Global";
@import "../Theme/Breakpoint";
@import "../Theme/Color";
@import "../Theme/Spacing";

$Footer-gradient-start: rgba(0, 0, 0, 0);
$Footer-gradient-end: rgba(0, 0, 0, 0.3);
$Footer-separator-height: 1px;

.Footer {
  padding: 0 $Spacing-xxSmall $Spacing-small;

  background: linear-gradient(to bottom, $Footer-gradient-start, $Footer-gradient-end);

  @include Breakpoint-desktopOnly {
    padding: 0 0 $Spacing-small;
  }
}

.Footer-content {
  width: 100%;
  max-width: $Global-content-max-width;
  margin: 0 auto;
}

.Footer-logo {
  margin-bottom: $Spacing-xSmall;
}

.Footer-sectionTitle {
  margin-bottom: $Spacing-xxSmall;
}

.Footer-link {
  display: block;

  &:not(:last-child) {
    margin-bottom: $Spacing-xxSmall;
  }
}

.Footer-socialLink:not(:last-child) {
  margin-right: $Spacing-xxSmall;
}

.Footer-separator {
  width: 100%;
  height: $Footer-separator-height;
  margin: $Spacing-xSmall 0;

  background-color: $Color-white;
}

.Footer-mobileSeparator {
  display: none;
  width: 100%;
  height: $Footer-separator-height;
  margin: $Spacing-xSmall 0;

  background-color: $Color-white;

  @include Breakpoint-mobileOnly {
    display: block;
  }
}
