@import "../Theme/Breakpoint";
@import "../Theme/Spacing";

$Grid-gutter: 26px;
$Grid-number-of-columns: 11;

@function Grid-column-width($columns) {
  $column-ratio: $columns / $Grid-number-of-columns;
  @return percentage($column-ratio);
}

.Grid {
  width: 100%;
}

@for $col from 1 through $Grid-number-of-columns {
  .Grid--#{$col}offset {
    padding: 0;

    @include Breakpoint-desktopOnly {
      &::before,
      &::after {
        content: '';

        display: inline-block;
        width: calc(#{Grid-column-width($col)});
      }
    }
  }

  .Grid-#{$col}column {
    display: inline-block;
    vertical-align: top;
    width: calc(#{Grid-column-width($col)});
    padding-right: $Grid-gutter;

    @include Breakpoint-mobileOnly {
      width: 100%;

      padding-right: 0;
    }
  }

  @include Breakpoint-tabletOnly {
    .md-#{$col} {
      width: calc(#{Grid-column-width($col)});
    }
  }

  .Grid-#{$col}column:last-child {
    padding-right: 0;
  }
}
