@import "../Theme/Breakpoint";
@import "../Theme/Spacing";

$Grid-col-width: 86px;
$Grid-col-spacing: 26px;
$Grid-number-of-columns: 11;

.Grid {
  width: 100%;
}

@for $col from 1 through $Grid-number-of-columns {
  .Grid--#{$col}offset {
    padding: 0;

    @include Breakpoint-desktopOnly {
      padding: 0 calc((#{$Grid-col-width} + #{$Grid-col-spacing}) * #{$col});
    }
  }

  .Grid-#{$col}column {
    display: inline-block;
    vertical-align: top;

    width: 100%;
    max-width: calc((#{$Grid-col-width} * #{$col}) +
                    (#{$Grid-col-spacing} * #{$col - 1}));

    margin-right: $Grid-col-spacing;

    @include Breakpoint-mobileOnly {
      max-width: 100%;

      margin-right: 0;
    }
  }

  .Grid-#{$col}column:last-child {
    margin-right: 0;
  }
}
