@import "../Theme/Color";
@import "../Theme/Spacing";
@import "../Theme/Breakpoint";
@import "../Theme/Browsers";

$Hero-uvp-max-width: 523px;
$Hero-font-size: 26px;
$Hero-line-height: 39px;
$Hero-font-size-mobile: 18px;
$Hero-line-height-mobile: 26px;
$Hero-uvp-font-size-desktop: 72px;
$Hero-uvp-line-height-desktop: 91px;
$Hero-uvp-font-size-mobile: 39px;
$Hero-uvp-line-height-mobile: 52px;
$Hero-font-family: "matrix-ii";
$Hero-font-weight: bold;

.Hero {
  position: relative;

  @include Breakpoint-desktopOnly {
    padding: 0 $Spacing-small;
  }
}

.Hero-background {
  position: absolute;

  top: -65px;
  left: 0;

  width: 100%;
  height: calc(100% + 65px);

  overflow: hidden;
}

.Hero-backgroundOverlay {
  position: absolute;

  top: -65px;
  left: 0;

  width: 100%;
  height: calc(100% + 65px);

  background: linear-gradient(to bottom, rgba(8, 19, 64, 0.7) 20%, $Color-deep-cove 100%);

  @include variablesSupported {
    background: linear-gradient(to bottom, rgba(8, 19, 64, 0.7) 20%, var(--color-background) 100%);
  }

}

.Hero-video {
  height: 100%;

  @include Breakpoint-desktopOnly {
    width: 100%;
    height: auto;
  };
}

.Hero-foreground {
  position: relative;
  z-index: 1;

  padding-top: $Spacing-base;

  @include Breakpoint-desktopOnly {
    padding-top: $Spacing-large;
  };
}

.Hero-content {
  padding: 0 $Spacing-xSmall;

  @include Breakpoint-desktopOnly {
    display: flex;
    align-items: center;

    padding: 0 $Spacing-xLarge;
  };
}

.Hero-title {
  @include Breakpoint-desktopOnly {
    flex: 2;

    margin-left: -$Spacing-small;
  };
}

.Hero-uvp {
  margin-top: $Spacing-xxSmall;
  margin-bottom: $Spacing-xxSmall;

  background-image: linear-gradient(118deg, $Color-coral, $Color-razzmatazz);
  color: transparent;

  background-clip: text;
  -webkit-background-clip: text;

  font-family: $Hero-font-family;
  font-size: $Hero-uvp-font-size-mobile;
  font-weight: $Hero-font-weight;
  line-height: $Hero-uvp-line-height-mobile;


  @include Breakpoint-desktopOnly {
    max-width: $Hero-uvp-max-width;

    font-size: $Hero-uvp-font-size-desktop;
    line-height: $Hero-uvp-line-height-desktop;
  }
}

.Hero-date,
.Hero-headline {
  color: $Color-white;

  font-family: $Hero-font-family;
  font-size: $Hero-font-size-mobile;
  font-weight: $Hero-font-weight;
  line-height: $Hero-line-height-mobile;

  @include Breakpoint-desktopOnly {
    font-size: $Hero-font-size;
    line-height: $Hero-line-height;
  }
}

.Hero-date {
  font-style: italic;
}

.Hero-actions {
  margin-top: $Spacing-base;

  @include Breakpoint-desktopOnly {
    flex: 1;

    margin: 0;

    text-align: right;
  };
}

.Hero-playButton {
  position: relative;

  padding-left: $Spacing-xxSmall;

  text-decoration: none;

  transform: translateX($Spacing-xSmall);

  @include Breakpoint-desktopOnly {
    display: inline-block;

    text-align: left;
  }

  &:hover,
  &.hover {
    .Hero-playButtonImage {
      transform: translateX(-4px) scale(0.95, 0.95);
      filter: blur(3px);
    }

    .Hero-playButtonLabel {
      transform: translateX(4px);
    }
  }
}

.Hero-playButtonImage {
  position: absolute;

  top: 0;
  left: 0;

  height: 100%;
}

.Hero-playButtonLabel {
  position: relative;
}

.Hero-playButtonImage,
.Hero-playButtonLabel {
  transition: all 0.2s ease-out;
}

.Hero-footer {
  display: flex;
  align-items: center;

  padding: 0 $Spacing-xxSmall;
  margin-top: $Spacing-base;

  @include Breakpoint-desktopOnly {
    padding: 0;

    margin-top: $Spacing-large;
  }
}

.Hero-socialLink {
  height: 100%;

  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.9;

    transform: scale(1.1, 1.1);
  }
}

.Hero-socialLink:not(:last-child) {
  margin-right: $Spacing-xSmall;
}
