@import "../Theme/Color";
@import "../Theme/Global";
@import "../Theme/Spacing";
@import "../Theme/Breakpoint";
@import "../Theme/Browsers";
@import "../Theme/Mixins";

$Hero-uvp-max-width: 523px;
$Hero-font-size: 26px;
$Hero-line-height: 39px;
$Hero-font-size-mobile: 18px;
$Hero-line-height-mobile: 26px;
$Hero-uvp-font-size-desktop: 72px;
$Hero-uvp-line-height-desktop: 91px;
$Hero-uvp-font-size-mobile: 39px;
$Hero-uvp-line-height-mobile: 52px;
$Hero-fullDate-font-size: 18px;
$Hero-fullDate-line-height: 26px;
$Hero-fullDate-bottom-alignment: 20px;
$Hero-fullDate-right-alignment: 112px;
$Hero-font-weight: bold;
$Hero-navbar-height: 72px;

$Hero-backgroundOverlay-color: rgba(8, 19, 64, 0.7);

.Hero {
  position: relative;

  padding: 0 $Spacing-xxSmall;
}

.Hero-background {
  position: absolute;

  top: -$Hero-navbar-height;
  left: 0;

  width: 100%;
  height: calc(100% + #{$Hero-navbar-height});

  overflow: hidden;
}

.Hero-backgroundOverlay {
  position: absolute;

  top: -$Hero-navbar-height;
  left: 0;

  width: 100%;
  height: calc(100% + #{$Hero-navbar-height});

  background: linear-gradient(to bottom, $Hero-backgroundOverlay-color 20%, $Color-deep-cove 100%);

  @include variablesSupported {
    background: linear-gradient(to bottom, $Hero-backgroundOverlay-color 20%, var(--color-background) 100%);
  }
}

.Hero-videoFallback,
.Hero-video {
  position: absolute;
  min-width: 1100px;
  width: 100%;
  height: 120%;
  left: 50%;
  top: 50%;

  transform: translateX(-50%) translateY(-50%);
}

.Hero-video {
  opacity: 0;
  transition: all 0.3s linear;
}
.Hero.is-video-playing .Hero-video {
  opacity: 1;
}

.Hero-foreground {
  position: relative;
  z-index: 1;

  padding-top: $Spacing-base;

  @include Breakpoint-desktopOnly {
    padding-top: $Spacing-large;
  };
}

.Hero-content {
  position: relative;

  padding: 0 $Spacing-xSmall;

  @include Breakpoint-desktopOnly {
    display: flex;
    align-items: center;

    padding: 0 $Spacing-xLarge;
  };
}

.Hero-title {
  @include Breakpoint-desktopOnly {
    flex: 2;
  };
}

.Hero-uvp {
  @include textGradient($gradient: linear-gradient(118deg, $Color-coral, $Color-razzmatazz), $fallback: $Color-razzmatazz);

  margin-top: $Spacing-xxSmall;
  margin-bottom: $Spacing-xxSmall;

  font-family: $Global-font-family-serif;
  font-size: $Hero-uvp-font-size-mobile;
  font-weight: $Hero-font-weight;
  line-height: $Hero-uvp-line-height-mobile;

  @include Breakpoint-desktopOnly {
    max-width: $Hero-uvp-max-width;

    font-size: $Hero-uvp-font-size-desktop;
    line-height: $Hero-uvp-line-height-desktop;
  }

  @include Breakpoint-tabletOnly {
    max-width: $Hero-uvp-max-width;
  }
}

.Hero-date,
.Hero-headline {
  color: $Color-white;

  font-family: $Global-font-family-serif;
  font-size: $Hero-font-size-mobile;
  font-weight: $Hero-font-weight;
  line-height: $Hero-line-height-mobile;

  @include Breakpoint-desktopOnly {
    font-size: $Hero-font-size;
    line-height: $Hero-line-height;
  }
}

.Hero-date {
  margin-bottom: $Spacing-xSmall;

  font-style: italic;

  @include Breakpoint-desktopOnly {
    margin-bottom: 0;
  }
}

.Hero-fullDate {
  position: static;

  color: $Color-white;

  font-family: $Global-font-family-serif;
  font-size: $Hero-fullDate-font-size;
  font-style: italic;
  line-height: $Hero-fullDate-line-height;
  text-align: right;

  @include Breakpoint-desktopOnly {
    position: absolute;
    right: $Hero-fullDate-right-alignment;
    bottom: $Hero-fullDate-bottom-alignment;

    font-weight: $Hero-font-weight;
  }
}

.Hero-actions {
  display: flex;
  justify-content: flex-end;

  margin-top: $Spacing-small;

  @include Breakpoint-desktopOnly {
    flex: 1;

    margin: 0;

    text-align: right;
  };
}

.Hero-playButton {
  position: relative;

  display: inline-block;

  padding-left: $Spacing-xxSmall;

  text-align: left;
  text-decoration: none;

  @include Breakpoint-desktopOnly {
    font-weight: $Hero-font-weight;
  }

  // scss-lint:disable SelectorFormat
  &:hover,
  &.hover {
    .Hero-playButtonImage {
      transform: translateX(-4px) scale(0.95, 0.95);

      filter: blur(3px);
    }

    .Hero-playButtonLabel {
      transform: translateX(4px);
    }
  }
  // scss-lint:enable SelectorFormat
}

.Hero-playButtonImage {
  position: absolute;

  top: 0;
  left: 0;

  height: 100%;
}

.Hero-playButtonLabel {
  position: relative;
}

.Hero-playButtonImage,
.Hero-playButtonLabel {
  transition: all 0.2s ease-out;
}

.Hero-footer {
  display: flex;
  align-items: center;

  padding: 0 $Spacing-xxSmall;
  margin-top: $Spacing-base;

  @include Breakpoint-desktopOnly {
    padding: 0;

    margin-top: $Spacing-large;
  }
}

.Hero-footerSpace {
  margin-left: $Spacing-xxSmall;
}

.Hero-socialLink {
  height: 100%;

  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.9;

    transform: scale(1.1, 1.1);
  }
}

.Hero-socialLink:not(:last-child) {
  margin-right: $Spacing-xSmall;
}
