@import "../Theme/Color";
@import "../Theme/Spacing";
@import "../Theme/Breakpoint";
@import "../Theme/Browsers";

.Layout {

  background-color: $Color-deep-cove;

  @include variablesSupported {
    background-color: var(--color-background);

    --color-background: $Color-deep-cove;
  }
}

.Layout-navbar {
  position: relative;

  z-index: 1;
}

.Layout.Layout--overlayOpen {
  position: absolute;

  height: 100%;
  max-width: 100%;

  overflow: hidden;
}
