@import "../Theme/Color";

$Link-font-family: "proxima-nova";
$Link-font-size: 18px;
$Link-font-size-small: 13px;
$Link-line-height: 26px;

.Link {
  color: $Color-white;

  font-family: $Link-font-family;
  font-size: $Link-font-size;
  line-height: $Link-line-height;
  text-decoration: none;
}

.Link.Link--uppercase {
  font-size: $Link-font-size-small;
  text-transform: uppercase;
}
