@import "../Theme/Global";

.Mirror {
  position: relative;
}

.Mirror-original,
.Mirror-reflection {
  width: 100%;
}

.Mirror-original {
  position: relative;
  z-index: 1;
}

.Mirror-reflection {
  position: absolute;
  z-index: -1;

  top: 0;
  left: 50%;

  width: 100vw;
  max-width: $Global-content-max-width;

  pointer-events: none;

  transform: scaleX(-1) translateX(50%);

  filter: opacity(0.3) blur(7px);
}

.Mirror-reflection img,
.Mirror-reflection [class*="Photo"],
.Mirror-reflection [class="MoreToCome"],
.Mirror-reflection .Workshop {
  display: none;
}
