@import "../Theme/Color";
@import "../Theme/Global";
@import "../Theme/Spacing";
@import "../Theme/Breakpoint";

$MoreToCome-height: 416px;
$MoreToCome-name-font-size: 26px;
$MoreToCome-name-line-height: 39px;
$MoreToCome-name-font-size-mobile: 18px;
$MoreToCome-name-line-height-mobile: 26px;
$MoreToCome-name-font-family: "matrix-ii";
$MoreToCome-name-font-weight: bold;
$MoreToCome-name-border-width: 4px;

.MoreToCome {
  display: flex;
  align-items: flex-end;

  width: 100%;
  height: $MoreToCome-height;

  border: $MoreToCome-name-border-width solid $Color-coral;

  @include Breakpoint-desktopOnly {
    width: $Global-speaker-width;
  };
}

.MoreToCome-details {
  transform: translateX(- $Spacing-xxSmall);
}

.MoreToCome-name {
  color: $Color-coral;

  font-family: $MoreToCome-name-font-family;
  font-size: $MoreToCome-name-font-size-mobile;
  font-weight: $MoreToCome-name-font-weight;
  line-height: $MoreToCome-name-line-height-mobile;

  @include Breakpoint-desktopOnly {
    font-size: $MoreToCome-name-font-size;
    line-height: $MoreToCome-name-line-height;
  }
}
