@import "../Theme/Spacing";
@import "../Theme/Breakpoint";
@import "../Theme/Mixins";

$Moving-image-height: 286px;
$Moving-z-index-background: 1;
$Moving-z-index-foreground: 2;

$Moving-gradient-end-color: rgba(13, 29, 97, 1);
$Moving-gradient-start-color: rgba(13, 29, 97, 0.4);

.Moving {
  padding: 0 $Spacing-xxSmall;
}

.Moving-title {
  margin-bottom: $Spacing-base;
}

.Moving-subtitle {
  position: relative;

  margin-bottom: $Spacing-xSmall;

  z-index: $Moving-z-index-foreground;

  @include Breakpoint-desktopOnly {
    margin-top: $Spacing-xSmall;
  }
}

.Moving-section {
  position: relative;
  min-height: $Moving-image-height;
}

.Moving-section:not(:last-child) {
  margin-bottom: $Spacing-base;
}

.Moving-portoImageWrapper {
  margin-top: -$Spacing-small;
}

.Moving-lisbonImageWrapper {
  margin-top: -$Spacing-xSmall;
}

.Moving-portoImageWrapper,
.Moving-lisbonImageWrapper {
  position: relative;
  height: $Moving-image-height;

  @include Breakpoint-desktopOnly {
    margin-top: 0;
  }
}

.Moving-portoImage,
.Moving-lisbonImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $Moving-z-index-background;
}

.Moving-portoImage {
  $pre: linear-gradient(to top, $Moving-gradient-start-color, $Moving-gradient-end-color);
  @include responsive-background-image("../../images/moving/porto", $pre: $pre, $size: cover);

  @include Breakpoint-desktopOnly {
    $pre: linear-gradient(to left, $Moving-gradient-start-color, $Moving-gradient-end-color);
    @include responsive-background-image("../../images/moving/porto", $pre: $pre, $size: cover);
  }
}

.Moving-lisbonImage {
  $pre: linear-gradient(to top, $Moving-gradient-start-color, $Moving-gradient-end-color);
  @include responsive-background-image("../../images/moving/lisbon", $pre: $pre, $size: cover);

  @include Breakpoint-desktopOnly {
    $pre: linear-gradient(to right, $Moving-gradient-start-color, $Moving-gradient-end-color);
    @include responsive-background-image("../../images/moving/lisbon", $pre: $pre, $size: cover);
  }
}

.Moving-imageWrapper {
  width: 100%;
  position: absolute;
  top: 0;

  @include Breakpoint-mobileOnly {
    position: initial;
  }
}

.Moving-description {
  position: relative;
  z-index: $Moving-z-index-foreground;
}

.Moving-listTitle {
  @include Breakpoint-tabletAndBelow {
    margin-left: $Spacing-xSmall;
  }
}

.Moving-descriptionNumberedBlock {
  @include Breakpoint-desktopOnly {
    position: relative;
    top: 0;
    left: -$Spacing-xSmall;
  }
}

.Moving-tap {
  position: relative;
  height: 200px;


  @media screen and (min-width: $Breakpoint-desktop + 1) {
    margin-top: 80px;
  }
}

.Moving-tapLogo {
  @include responsive-background-image("../../images/moving/tap/tap");

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 26px;

  background-position: left;
}

.Moving-tapPlane {
  @include responsive-background-image("../../images/moving/tap/plane");

  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  height: 150px;
  max-width: 300px;

  transform: translate(-50%, -50%);
}

.Moving-tapActions {
  display: flex;
  flex-wrap: wrap;
}

.Moving-tapAction {
  padding-top: $Spacing-xSmall;
}

.Moving-tapAction:first-child {
  padding-right: $Spacing-xSmall;
}
