@import "../Theme/Color";
@import "../Theme/Spacing";
@import "../Theme/Breakpoint";

$Navbar-logo-height-mobile: 26px;
$Navbar-logo-height-desktop: 39px;
$Navbar-cta-z-index: 20;

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $Spacing-xxSmall $Spacing-xxSmall 0;

  @include Breakpoint-desktopOnly {
    padding: $Spacing-xSmall 0 0;
  }
}

.Navbar-logo {
  height: $Navbar-logo-height-mobile;

  @include Breakpoint-desktopOnly {
    height: $Navbar-logo-height-desktop;
  }
}

.Navbar-links {
  display: none;

  @include Breakpoint-desktopOnly {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
  }
}

.Navbar-link {
  position: relative;

  margin-bottom: $Spacing-xSmall;

  @include Breakpoint-desktopOnly {
    margin-right: $Spacing-xSmall;
    margin-bottom: 0;
  }

  &:after {
    content: '';

    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;

    background-color: $Color-white;
    transform: scaleX(0);
    transform-origin: center left;

    transition: transform 0.3s ease-out;
  }

  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
}

.Navbar-cta {
  margin-bottom: $Spacing-xSmall;

  z-index: $Navbar-cta-z-index;

  @include Breakpoint-desktopOnly {
    margin-bottom: 0;
    margin-left: $Spacing-xSmall;
  };
}
