@import "../Theme/Color";
@import "../Theme/Spacing";
@import "../Theme/Breakpoint";

$Navbar-logo-size-mobile: 26px;
$Navbar-logo-size-desktop: 39px;
$Navbar-cta-z-index: 20;

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $Spacing-xxSmall $Spacing-xxSmall 0;

  @include Breakpoint-desktopOnly {
    padding-top: $Spacing-xSmall;
  }
}

.Navbar-logo {
  width: $Navbar-logo-size-mobile;
  height: $Navbar-logo-size-mobile;

  @include Breakpoint-desktopOnly {
    width: $Navbar-logo-size-desktop;
    height: $Navbar-logo-size-desktop;
  }
}

.Navbar-links {
  display: none;

  @include Breakpoint-desktopOnly {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
  }
}

.Navbar-link {
  position: relative;

  margin-bottom: $Spacing-xSmall;

  &:not(:last-child) {
    margin-right: $Spacing-xSmall;
  }

  @include Breakpoint-desktopOnly {
    margin-bottom: 0;
  }
}

.Navbar-cta {
  z-index: $Navbar-cta-z-index;

  margin-bottom: $Spacing-xSmall;

  @include Breakpoint-desktopOnly {
    margin-bottom: 0;
    margin-left: $Spacing-xSmall;
  };
}
