@import "../Theme/Color";
@import "../Theme/Spacing";
@import "../Theme/Breakpoint";

$Navbar-logo-height-mobile: 26px;
$Navbar-logo-height-desktop: 39px;

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $Spacing-xxSmall $Spacing-xxSmall 0;

  @include Breakpoint-desktopOnly {
    padding: $Spacing-xSmall 0 0;
  }
}

.Navbar-logo {
  height: $Navbar-logo-height-mobile;

  @include Breakpoint-desktopOnly {
    height: $Navbar-logo-height-desktop;
  }
}

.Navbar-links {
  display: none;

  @include Breakpoint-desktopOnly {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
  }
}

.Navbar-link {
  margin-bottom: $Spacing-xSmall;

  @include Breakpoint-desktopOnly {
    margin-right: $Spacing-xSmall;
    margin-bottom: 0;
  }
}

.Navbar-cta {
  position: relative;
  z-index: 1;

  padding: $Spacing-xxSmall $Spacing-xSmall;
  margin-bottom: $Spacing-xSmall;

  color: $Color-white;
  cursor: pointer;

  font-family: "proxima-nova";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.7px;
  line-height: 13px;
  text-transform: uppercase;

  @include Breakpoint-desktopOnly {
    margin-bottom: 0;
    margin-left: $Spacing-xSmall;
  };

  &::after,
  &::before {
    content: "";

    position: absolute;

    box-sizing: border-box;

    width: 100%;
    height: 100%;
  }

  &::before {
    top: 0;
    left: 0;
    z-index: -1;

    background-image: linear-gradient(107deg, $Color-coral, $Color-razzmatazz);
  }

  &::after {
    top: 3px;
    left: 3px;
    z-index: -2;

    border: 2px solid $Color-white;

    transition: all 0.2s ease-in-out;
  }

  &:hover {
    &::after {
      top: 0;
      left: 0;
    }
  }
}
