@import "../Theme/Spacing";
@import "../Theme/Global";

.NumberedBlock {
  position: relative;
}

.NumberedBlock-number {
  position: absolute;
  top: 0;
  left: 0;

  font-family: $Global-font-family-serif;
  font-size: 18px;
  line-height: 26px;
}

.NumberedBlock-block {
  padding-left: $Spacing-xSmall;
}
