@import "../Theme/Color";
@import "../Theme/Spacing";
@import "../Theme/Breakpoint";

$OverlayMenu-logo-height: 26px;

.OverlayMenu {
  position: fixed;

  top: 0;
  left: 0;

  z-index: 2;

  width: 100%;
  height: 100%;

  background-color: rgba($Color-deep-cove, 0);
  opacity: 0;

  pointer-events: none;

  transition: all 0.4s ease-in-out;

  filter: blur(10px);

  @include Breakpoint-desktopOnly {
    display: none;
  }
}

.OverlayMenu.is-open {
  background-color: $Color-deep-cove;
  opacity: 1;

  pointer-events: all;

  filter: blur(0);
}

.OverlayMenu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $Spacing-xxSmall $Spacing-xxSmall 0;
}

.OverlayMenu-logo {
  height: $OverlayMenu-logo-height;
}

.OverlayMenu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 100%;

  padding-top: $Spacing-small;
}

.OverlayMenu-link {
  position: relative;

  margin-bottom: $Spacing-xSmall;

  @include Breakpoint-desktopOnly {
    margin-right: $Spacing-xSmall;
    margin-bottom: 0;
  }
}
