@import "../Theme/Color";
@import "../Theme/Global";
@import "../Theme/Spacing";
@import "../Theme/Breakpoint";

$ScheduleTable-hour-height: 160px;
$ScheduleTable-time-column-width: 52px;
$ScheduleTable-time-column-width-desktop: 112px;
$ScheduleTable-durations-in-minutes: 15 30 45 60 75 120 180 240;

.ScheduleTable {

  &:not(:first-child) {
    margin-top: $Spacing-base;

    @include Breakpoint-tabletAndAbove {
      max-width: calc(50% - (#{$Spacing-xSmall} / 2) - (#{$ScheduleTable-time-column-width-desktop} / 2));

      margin: 0;

      .ScheduleTable-rowGutter {
        margin: 0;
      }
    };
  }

  @include Breakpoint-tabletAndAbove {
    display: inline-block;

    width: 100%;
    max-width: calc(50% - (#{$Spacing-xSmall} / 2) + (#{$ScheduleTable-time-column-width-desktop} / 2));

    vertical-align: top;
  };

  .ScheduleTable-header {
    margin-bottom: $Spacing-xxSmall;

    text-align: center;
    font-size: 26px;
    font-family: $Global-font-family-serif;
    font-weight: bold;
    line-height: 1.5;
    color: $Color-white;

    @include Breakpoint-desktopOnly {
      font-size: 51px;
    };
  }

  &:first-child .ScheduleTable-header {
    margin-left: $ScheduleTable-time-column-width;

    @include Breakpoint-tabletAndAbove {
      margin-left: $ScheduleTable-time-column-width-desktop;
    };
  }

  .ScheduleTable-row {
    display: flex;
    flex-wrap: nowrap;

    position: relative;

    margin-left: $ScheduleTable-time-column-width;

    @include Breakpoint-tabletAndAbove {
      margin-left: $ScheduleTable-time-column-width-desktop;
    };
  }

  .ScheduleTable-row + .ScheduleTable-row {
    margin-top: $Spacing-xxSmall;

    @include Breakpoint-tabletAndAbove {
      margin-top: $Spacing-xSmall;
    }
  }

  .ScheduleTable-rowGutter {
    height: $Spacing-xxSmall;

    margin-left: $ScheduleTable-time-column-width;

    background-color: rgba($Color-white, 0.1);

    @include Breakpoint-tabletAndAbove {
      height: $Spacing-xSmall;

      margin-left: $ScheduleTable-time-column-width-desktop;
    };
  }

  .ScheduleTable-columnHeader {
    padding: $Spacing-xxSmall;

    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    font-family: $Global-font-family-serif;
    color: $Color-coral;
    text-align: center;

    vertical-align: middle;

    @include Breakpoint-desktopOnly {
      font-size: 18px;
    };
  }

  .ScheduleTable-column {
    flex: 1;

    min-width: calc(50% - #{$Spacing-xSmall} - #{$ScheduleTable-time-column-width});

    background-color: rgba($Color-white, 0.1);

    vertical-align: top;

    @include Breakpoint-tabletAndAbove {
      min-width: calc(25% - #{$Spacing-base} - #{$ScheduleTable-time-column-width-desktop});
    };
  }

  .ScheduleTable-column.pushLeft {
    flex: $ScheduleTable-time-column-width;

    position: absolute;

    left: 0;
    bottom: 0;
    width: $ScheduleTable-time-column-width;
    min-width: $ScheduleTable-time-column-width;

    transform: translateX(-$ScheduleTable-time-column-width);

    background: none;

    @include Breakpoint-tabletAndAbove {
      width: $ScheduleTable-time-column-width-desktop;
      min-width: $ScheduleTable-time-column-width-desktop;

      transform: translateX(-$ScheduleTable-time-column-width-desktop);
    };
  }

  .ScheduleTable-columnGutter {
    align-self: flex-end;

    width: $Spacing-xxSmall;

    @include Breakpoint-tabletAndAbove {
      width: $Spacing-xSmall;
    };
  }

  .ScheduleTable-cell {
    position: relative;

    height: 100%;

    padding: $Spacing-xxSmall / 2;

    background-color: rgba($Color-white, 0.1);

    @include Breakpoint-desktopOnly {
      padding: $Spacing-xxSmall;
    };
  }

  .ScheduleTable-cell.filler {
    display: none;

    @include Breakpoint-tabletAndAbove {
      display: block;

      background: none;
    };
  }

  &:not(:first-child) {
    .ScheduleTable-cell:before {
      @include Breakpoint-tabletAndAbove {
        content: " ";

        position: absolute;
        top: 0;
        left: -$Spacing-xSmall;

        width: $Spacing-xSmall;
        height: 100%;

        background-color: rgba($Color-white, 0.1);
      };
    }

    .ScheduleTable-cell.filler:before {
      display: none;
    }

    .ScheduleTable-columnGutter + .ScheduleTable-column .ScheduleTable-cell:before {
      display: none;
    }

    .ScheduleTable-columnGutter .ScheduleTable-cell:before {
      display: none;
    }
  }

  @each $duration in $ScheduleTable-durations-in-minutes {
    .ScheduleTable-cell.duration#{$duration} {
      height: ($duration / 60) * $ScheduleTable-hour-height;
    }
  }
}

.ScheduleTable + .ScheduleTable {
  @include Breakpoint-tabletAndAbove {
    margin-left: $Spacing-xSmall;

    .ScheduleTable-column.pushLeft {
      display: none;
    }

    .ScheduleTable-row {
      margin-left: 0;
    }
  };
}
