@import "../Theme/Color";
@import "../Theme/Global";
@import "../Theme/Breakpoint";

$SectionTitle-font-size: 52px;
$SectionTitle-line-height: 78px;
$SectionTitle-font-size-mobile: 26px;
$SectionTitle-line-height-mobile: 39px;
$SectionTitle-font-weight: bold;

.SectionTitle {
  color: $Color-white;

  font-family: $Global-font-family-serif;
  font-size: $SectionTitle-font-size-mobile;
  font-weight: $SectionTitle-font-weight;
  line-height: $SectionTitle-line-height-mobile;

  @include Breakpoint-desktopOnly {
    font-size: $SectionTitle-font-size;
    line-height: $SectionTitle-line-height;
  }
}

.SectionTitle.SectionTitle--alternate {
  color: $Color-madison;
}
