@import "../Theme/Spacing";
@import "../Theme/Breakpoint";

.Sleeping {
  padding: 0 $Spacing-xxSmall;
}

.Sleeping-section {
  margin-top: $Spacing-base;
}

.Sleeping-emptyColumn {
  display: none;

  @include Breakpoint-desktopOnly {
    display: initial;
  }
}
