@import "../Theme/Color";
@import "../Theme/Global";
@import "../Theme/Spacing";
@import "../Theme/Breakpoint";

$SpeakerDetails-image-offset-desktop: 112px;
$SpeakerDetails-image-height-mobile: 286px;
$SpeakerDetails-image-width-mobile: 198px;
$SpeakerDetails-image-width-desktop: 310px;
$SpeakerDetails-name-font-size: 51px;
$SpeakerDetails-name-line-height: 78px;
$SpeakerDetails-name-font-size-mobile: 26px;
$SpeakerDetails-name-line-height-mobile: 39px;
$SpeakerDetails-name-font-weight: bold;

.SpeakerDetails {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

.SpeakerDetails-imageContainer {
  position: absolute;
  left: 0;

  width: 100%;
  max-width: $SpeakerDetails-image-width-desktop;
  overflow: hidden;

  @include Breakpoint-mobileOnly {
    max-height: $SpeakerDetails-image-height-mobile;
  }

  @include Breakpoint-tabletOnly {
    max-width: $SpeakerDetails-image-width-mobile;
  }

  @include Breakpoint-desktopOnly {
    top: 0;
    left: $SpeakerDetails-image-offset-desktop;

    max-height: none;
  }
}

.SpeakerDetails-columns {
  position: relative;

  display: flex;
  flex-direction: column;

  @include Breakpoint-tabletAndAbove {
    flex-direction: row;
  }
}

.SpeakerDetails-details {
  display: flex;
  flex-direction: column;
  height: $SpeakerDetails-image-height-mobile;

  @include Breakpoint-mobileOnly {
    justify-content: space-between;
    margin-bottom: $Spacing-xSmall;
  }

  @include Breakpoint-tabletAndAbove {
    flex: 0 0 $SpeakerDetails-image-width-mobile;
    margin-right: $Spacing-xSmall;
  }

  @include Breakpoint-desktopOnly {
    flex: 0 0 $SpeakerDetails-image-offset-desktop + $SpeakerDetails-image-width-desktop;
    height: initial;
    margin-bottom: 0;
  }
}

.SpeakerDetails-description {
  flex: 1 0 0%;
}

.SpeakerDetails-info {
  color: $Color-white;
  font-family: $Global-font-family-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

.SpeakerDetails-name {
  max-width: 650px;
  margin-bottom: $Spacing-xSmall;

  color: $Color-coral;

  font-family: $Global-font-family-serif;
  font-size: $SpeakerDetails-name-font-size-mobile;
  font-weight: $SpeakerDetails-name-font-weight;
  line-height: $SpeakerDetails-name-line-height-mobile;

  @include Breakpoint-desktopOnly {
    font-size: $SpeakerDetails-name-font-size;
    line-height: $SpeakerDetails-name-line-height;
    white-space: pre-line;
  }
}

.SpeakerDetails-image {
  width: 100%;
  display: inline;
  vertical-align: top;
}

.SpeakerDetails-imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline;
  width: 100%;

  background: linear-gradient(to right, var(--color-background) 0%, rgba(8, 19, 64, 0.2) 100%);
}

.SpeakerDetails-info {
  display: flex;
  align-items: center;
}

.SpeakerDetails-twitterIcon,
.SpeakerDetails-websiteIcon {
  width: 20px;
  height: 20px;
  margin-right: $Spacing-xxSmall;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.SpeakerDetails-twitterIcon {
  background-image: url("../../images/twitter.svg");
}

.SpeakerDetails-websiteIcon {
  background-image: url("../../images/globe.svg");
}

.SpeakerDetails-link {
  color: $Color-razzmatazz;
  font-weight: bold;
  font-family: $Global-font-family-serif;
}

.SpeakerDetails-name,
.SpeakerDetails-info,
.SpeakerDetails-link {
  display: flex;
  align-items: center;
  margin-bottom: $Spacing-xSmall;
}
