@import "../Theme/Spacing";

$SpeakersPage-content-max-width: 982px;

.SpeakersPage {
  margin-top: $Spacing-xLarge;
}

.SpeakersPage-title {
  margin-bottom: $Spacing-large;
}

.SpeakersPage-speaker {
  max-width: $SpeakersPage-content-max-width;
}

.SpeakersPage-speaker {
  margin: auto;
  margin-bottom: $Spacing-xLarge;
}
