@import "../Theme/Spacing";
@import "../Theme/Global";
@import "../Theme/Color";
@import "../Theme/Breakpoint";

$Speakers-2-column-size: $Global-speaker-width * 2 + $Spacing-xSmall;
$Speakers-3-column-size: $Global-speaker-width * 3 + $Spacing-xSmall * 2;

.Speakers {
  padding: 0 $Spacing-xxSmall;
  padding-bottom: $Spacing-base;

  @include Breakpoint-mobileOnly {
    padding-bottom: $Spacing-xSmall;
  }
}

.Speakers-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: $Spacing-base;

  @include Breakpoint-desktopOnly {
    margin-right: auto;
    margin-left: auto;
  }
}

@include Breakpoint-mobileOnly {
  .Speakers-item {
    width: 100%;
    max-width: 100%;

    &:not(:first-child) {
      margin-top: $Spacing-xSmall;
    }
  }
}

.Speakers-item {
  transition: opacity 0.2s ease-in;
}

.Speakers-list:hover .Speakers-item:not(:hover) {
  opacity: 0.2;
}

@media (min-width: $Speakers-2-column-size) and (max-width: #{$Speakers-3-column-size - 1}) {
  .Speakers-list {
    max-width: $Speakers-2-column-size;
  }

  .Speakers-list .Speakers-item:nth-child(2n - 1) {
    margin-top: $Spacing-base;
    margin-right: $Spacing-xSmall;
  }
}

@media (min-width: $Speakers-3-column-size) {
  .Speakers-list {
    max-width: $Speakers-3-column-size;

    padding-bottom: $Spacing-base + $Spacing-xxSmall;
  }

  .Speakers-list .Speakers-item {
    margin-bottom: $Spacing-small;
  }

  .Speakers-list .Speakers-item:nth-child(3n - 2) {
    margin-right: $Spacing-xSmall;

    transform: translateY($Spacing-base);
  }

  .Speakers-list .Speakers-item:nth-child(3n - 1) {
    margin-right: $Spacing-xSmall;

    transform: translateY($Spacing-base * 2);
  }
}
