@import "../Theme/Spacing";
@import "../Theme/Global";
@import "../Theme/Color";
@import "../Theme/Breakpoint";

$Speakers-2-column-size: $Global-speaker-width * 2 + $Spacing-xSmall;
$Speakers-3-column-size: $Global-speaker-width * 3 + $Spacing-xSmall * 2;

.Speakers {
  padding: 0 $Spacing-xxSmall;
}

.Speakers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: $Spacing-xSmall auto 0;

  @include Breakpoint-desktopOnly {
    margin: $Spacing-base auto 0;
  };
}

@include Breakpoint-mobileOnly {
  .Speakers-item {
    width: 100%;
    max-width: 100%;

    margin: $Spacing-xSmall 0;
    padding: 0 $Spacing-xxSmall;

    &:first-child {
      margin-top: 0;
    }
  }
}

@media (max-width: $Speakers-2-column-size) {
  .Speakers-list {
    justify-content: center;
  }
}

@media (min-width: $Speakers-2-column-size) and (max-width: $Speakers-3-column-size) {
  .Speakers-list {
    max-width: $Speakers-2-column-size;
  }

  .Speakers-list .Speakers-item:nth-child(2n - 1) {
    margin-top: $Spacing-base;
    margin-right: $Spacing-xSmall;
  }
}

@media (min-width: $Speakers-3-column-size) {
  .Speakers-list {
    max-width: $Speakers-3-column-size;

    padding-bottom: $Spacing-base + $Spacing-xxSmall;
  }

  .Speakers-list .Speakers-item {
    margin-bottom: $Spacing-small;
  }

  .Speakers-list .Speakers-item:nth-child(3n - 2) {
    margin-right: $Spacing-xSmall;

    transform: translateY($Spacing-base);
  }

  .Speakers-list .Speakers-item:nth-child(3n - 1) {
    margin-right: $Spacing-xSmall;

    transform: translateY($Spacing-base * 2);
  }
}
