@import "../Theme/Color";
@import "../Theme/Spacing";
@import "../Theme/Breakpoint";

.Sponsors {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    left: 0;
    bottom: 0;
    z-index: -1;

    background-color: $Color-white;
  }
}

.Sponsors-wrapper {
  padding: $Spacing-small $Spacing-xxSmall;
  margin-right: $Spacing-xxSmall;
  background-color: $Color-white;

  @include Breakpoint-desktopOnly {
    padding-top: $Spacing-large;
    padding-bottom: $Spacing-large;
    margin-right: 0;
  };
}

.Sponsors-title {
  margin-bottom: $Spacing-base;
}

.Sponsors-levelsTitle {
  margin-bottom: $Spacing-base;
}

.Sponsors-level {
  padding-bottom: $Spacing-base;
}

.Sponsors-levelTitle {
  margin-bottom: $Spacing-xSmall;
}

.Sponsors-levelLogos {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -$Spacing-small;

  @include Breakpoint-mobileOnly {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: -$Spacing-xSmall;
  }
}

.Sponsors-levelLogo {
  display: flex;
  align-items: center;
  margin-bottom: $Spacing-small;

  @include Breakpoint-mobileOnly {
    margin-bottom: $Spacing-xSmall;
  }

  &:not(:last-child) {
    margin-right: $Spacing-small;
  }
}

.Sponsors-levelLogoLink {
  display: flex;
}

.Sponsors-actions {
  margin-top: $Spacing-xSmall;
}

.Sponsors-platinum .Sponsors-logo,
.Sponsors-gold .Sponsors-logo,
.Sponsors-wi-fi .Sponsors-logo,
.Sponsors-quiz .Sponsors-logo {
  max-height: 40px;
}

.Sponsors-logo.Sponsors-mindera {
  max-height: 52px;
}

.Sponsors-logo.Sponsors-ginetta {
  max-height: 60px;
  margin: -10px -16px;
}

.Sponsors-stone .Sponsors-logo,
.Sponsors-media .Sponsors-logo {
  max-height: 26px;
}
