@import "../Theme/Color";
@import "../Theme/Breakpoint";

$SubSectionTitle-font-size: 26px;
$SubSectionTitle-line-height: 39px;
$SubSectionTitle-font-size-mobile: 18px;
$SubSectionTitle-line-height-mobile: 26px;
$SubSectionTitle-font-family: "MatrixIIOT";
$SubSectionTitle-font-weight: 800;

.SubSectionTitle {
  color: $Color-madison;
  font-size: $SubSectionTitle-font-size-mobile;
  line-height: $SubSectionTitle-line-height-mobile;
  font-family: $SubSectionTitle-font-family;
  font-weight: $SubSectionTitle-font-weight;

  @include Breakpoint-desktopOnly {
    font-size: $SubSectionTitle-font-size;
    line-height: $SubSectionTitle-line-height;
  }
}
