@import "../Theme/Color";
@import "../Theme/Breakpoint";

$SubSectionTitle-font-size: 26px;
$SubSectionTitle-line-height: 39px;
$SubSectionTitle-font-size-mobile: 18px;
$SubSectionTitle-line-height-mobile: 26px;
$SubSectionTitle-font-family: "matrix-ii";
$SubSectionTitle-font-weight: bold;

.SubSectionTitle {
  color: $Color-white;

  font-family: $SubSectionTitle-font-family;
  font-size: $SubSectionTitle-font-size-mobile;
  font-weight: $SubSectionTitle-font-weight;
  line-height: $SubSectionTitle-line-height-mobile;

  @include Breakpoint-desktopOnly {
    font-size: $SubSectionTitle-font-size;
    line-height: $SubSectionTitle-line-height;
  }
}

.SubSectionTitle.SubSectionTitle--alternate {
  color: $Color-razzmatazz;

  font-weight: normal;
}
