@import "../Theme/Color";
@import "../Theme/Global";
@import "../Theme/Breakpoint";

$Text-font-size: 18px;
$Text-line-height: 26px;
$Text-font-weight: normal;

.Text {
  color: $Color-white;

  font-family: $Global-font-family-sans;
  font-size: $Text-font-size;
  font-weight: $Text-font-weight;
  line-height: $Text-line-height;
}

.Text.Text--alternative {
  color: $Color-madison;
}

.Text.Text--preLineBreak {
  white-space: pre-line;
}
