@import "../Theme/Color";
@import "../Theme/Global";
@import "../Theme/Breakpoint";

$Title-font-size-desktop: 72px;
$Title-line-height-desktop: 91px;
$Title-font-size-mobile: 39px;
$Title-line-height-mobile: 52px;
$Title-font-weight: bold;

.Title {
  color: $Color-white;

  font-family: $Global-font-family-serif;
  font-size: $Title-font-size-mobile;
  font-weight: $Title-font-weight;
  line-height: $Title-line-height-mobile;

  @include Breakpoint-desktopOnly {
    font-size: $Title-font-size-desktop;
    line-height: $Title-line-height-desktop;
  }
}
