@import "../Theme/Color";
@import "../Theme/Spacing";
@import "../Theme/Breakpoint";

$WhiteBox-max-width: 758px;
$WhiteBox-spacing: 113px;

.WhiteBox {
  max-width: $WhiteBox-max-width;

  padding: $Spacing-small $Spacing-xxSmall;

  margin-top: $Spacing-xSmall;
  margin-right: $Spacing-xxSmall;

  background-color: $Color-white;

  @include Breakpoint-desktopOnly {
    padding: $Spacing-base $WhiteBox-spacing;
    margin-top: $Spacing-base;
    margin-right: 0;
  };
}
